<h1>Python and MySQL</h1>

<h2>First import the python module containing the API</h2>

In [2]:
#!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-0.8.0-py2.py3-none-any.whl (83kB)
    100% |████████████████████████████████| 92kB 13kB/s ta 0:00:014
Installing collected packages: pymysql
Successfully installed pymysql-0.8.0
You are using pip version 9.0.1, however version 9.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
import pymysql

<h2>Set up a connection and create a cursor object</h2>

In [4]:
db = pymysql.connect("host","uname","pass" ,database="dname")
cursor = db.cursor()

In [6]:
print(db)
print(cursor)

<pymysql.connections.Connection object at 0x109a92710>
<pymysql.cursors.Cursor object at 0x109a927b8>

<h2>Execute a query and get the results</h2>

In [11]:
cursor.execute('show tables;')
#cursor.fetchone()
cursor.fetchall()

(('Course',), ('Enrolls_in',), ('Student',))

In [16]:
query = """
SELECT course.name, enrolls_in.score FROM student 
INNER JOIN enrolls_in ON student.ssn = enrolls_in.ssn 
INNER JOIN course ON course.number = enrolls_in.class
WHERE f_name = "JOHN";
"""
cursor.execute(query)
result = cursor.fetchall()

In [18]:
print("Course name", "Score", sep="\t")
for thing in result:
    print(thing[0], thing[1], sep="\t")

Course name	Score
Data analytics	93.0
Python	95.0

In [20]:
query = 'INSERT INTO Student VALUES ("000-11-2322", "Bing", "Crossby", "2345670000", "New York", "10001");'
cursor.execute(query)

1

In [21]:
query = 'SELECT * from Student;'
cursor.execute(query)
cursor.fetchall()

(('000-11-2322', 'Bing', 'Crossby', '2345670000', 'New York', '10001'),
 ('111-22-3333', 'JOHN', 'CHILDS', '6461231212', 'New York', '10025'),
 ('123-12-1234', 'Mary', 'Arias', None, 'New York', '10011'),
 ('222-33-4455', 'Lila', 'Pennington', '4251231212', 'Seattle', '98105'),
 ('555-11-7777', 'Roberto', 'Perez', '9173335479', 'San Francisco', '94110'))

In [22]:
db.commit()