In [3]:
import pandas as pd
import numpy as np

<h4><b>read_csv</b>: A pandas function that reads a comma separated file</h4>
read_csv will try to format the data so that it is the correct type and will report any typing problems<br>
It will also look for a header row. 
<br>http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

In [4]:
datafile = "nyc_311_data_subset-2.csv"
data = pd.read_csv(datafile)
data

/Users/william/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unique Key,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude
0,1,10/11/2016 11:53:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
1,1,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
2,1,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
3,1,10/11/2016 12:39:00 PM,10/11/2016 12:39:00 PM,DSNY,NaN,QUEENS,NaN,NaN
4,1,10/11/2016 12:18:00 PM,10/11/2016 12:18:00 PM,DSNY,NaN,QUEENS,NaN,NaN
5,1,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
6,1,10/11/2016 12:39:00 PM,10/11/2016 12:39:00 PM,DSNY,NaN,QUEENS,NaN,NaN
7,1,10/11/2016 11:44:00 AM,NaN,DSNY,NaN,QUEENS,NaN,NaN
8,1,10/11/2016 12:35:00 PM,10/11/2016 12:35:00 PM,DSNY,NaN,QUEENS,NaN,NaN
9,1,10/11/2016 11:26:00 AM,05/27/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
10,1,09/01/2016 12:33:42 AM,09/16/2016 01:06:56 AM,DCA,10001,MANHATTAN,40.744790,-73.988834
11,1,09/01/2016 08:16:24 PM,09/10/2016 06:08:25 PM,HPD,11691,QUEENS,40.600554,-73.750704
12,1,09/01/2016 12:17:00 PM,09/07/2016 12:00:00 PM,DSNY,11211,BROOKLYN,40.704925,-73.962007
13,1,09/01/2016 12:10:22 PM,09/10/2016 02:23:44 PM,HPD,10027,MANHATTAN,40.812322,-73.955338
14,1,09/01/2016 12:32:32 PM,09/11/2016 02:03:37 AM,HPD,10452,BRONX,40.839529,-73.922534
15,1,09/01/2016 08:16:24 PM,09/10/2016 06:08:24 PM,HPD,11691,QUEENS,40.600554,-73.750704
16,1,09/01/2016 08:35:00 AM,09/07/2016 12:00:00 PM,DSNY,11428,QUEENS,40.721866,-73.745982
17,1,09/01/2016 01:19:42 PM,09/16/2016 02:32:35 PM,DOT,11101,QUEENS,40.746875,-73.952711
18,1,09/01/2016 11:00:00 AM,09/08/2016 12:00:00 PM,DSNY,10075,MANHATTAN,40.773336,-73.955054
19,1,09/01/2016 11:45:00 AM,09/03/2016 12:00:00 PM,DSNY,11215,BROOKLYN,40.662002,-73.983668
20,1,09/01/2016 10:11:45 AM,09/16/2016 11:11:38 AM,DOT,11101,QUEENS,40.745492,-73.953174
21,1,09/01/2016 08:22:53 AM,09/16/2016 07:42:02 AM,DOT,11210,BROOKLYN,40.631530,-73.954573
22,1,09/01/2016 05:31:04 PM,09/16/2016 10:10:02 AM,DOT,11231,BROOKLYN,40.677629,-73.998190
23,1,09/01/2016 08:50:41 AM,09/16/2016 11:12:47 AM,DOT,11210,BROOKLYN,40.628450,-73.947200
24,1,09/01/2016 02:19:21 PM,09/16/2016 02:11:08 PM,DOT,11101,QUEENS,40.745866,-73.955148
25,1,09/01/2016 12:46:35 PM,09/16/2016 11:53:24 AM,DOT,11217,BROOKLYN,40.687518,-73.986320
26,1,09/01/2016 01:33:58 PM,09/16/2016 12:55:18 PM,DOT,11231,BROOKLYN,40.683742,-73.995233
27,1,09/01/2016 01:51:10 PM,09/11/2016 02:05:38 AM,HPD,10457,BRONX,40.852417,-73.899753
28,1,09/01/2016 12:28:00 PM,09/01/2016 12:28:00 PM,DOT,NaN,BRONX,NaN,NaN
29,1,09/01/2016 12:34:41 PM,09/10/2016 03:01:05 PM,HPD,10033,MANHATTAN,40.846318,-73.932740
...,...,...,...,...,...,...,...,...
971033,1,09/20/2016 01:36:18 PM,09/20/2016 04:14:47 PM,NYPD,11357.0,QUEENS,40.789638,-73.814111
971034,1,09/20/2016 09:22:00 PM,09/21/2016 10:21:00 AM,DOT,11368.0,QUEENS,40.756870,-73.857055
971035,1,09/20/2016 12:27:00 PM,09/21/2016 12:30:00 AM,DOT,10461.0,BRONX,40.838262,-73.836541
971036,1,09/20/2016 02:25:16 PM,09/26/2016 01:57:59 PM,DOF,NaN,Unspecified,NaN,NaN
971037,1,09/20/2016 01:55:00 PM,09/22/2016 08:10:00 AM,DEP,11217.0,BROOKLYN,40.677542,-73.979681
971038,1,09/20/2016 01:25:44 PM,09/21/2016 10:59:52 AM,DOF,10013.0,MANHATTAN,NaN,NaN
971039,1,09/20/2016 02:08:00 PM,09/21/2016 02:08:00 PM,DEP,11238.0,BROOKLYN,40.673232,-73.965010
971040,1,09/20/2016 07:51:00 AM,09/21/2016 11:46:00 AM,DOT,11222.0,BROOKLYN,40.725309,-73.957521
971041,1,09/20/2016 07:57:58 PM,09/20/2016 07:58:34 PM,HRA,NaN,Unspecified,NaN,NaN
971042,1,09/20/2016 08:56:00 AM,09/20/2016 10:20:00 AM,DEP,11209.0,BROOKLYN,40.632837,-74.027230
971043,1,09/20/2016 06:22:00 AM,09/23/2016 12:45:00 PM,DEP,10029.0,MANHATTAN,40.787172,-73.949982
971044,1,09/20/2016 03:40:00 AM,NaN,DEP,11366.0,QUEENS,40.720328,-73.807761
971045,1,09/20/2016 12:06:00 AM,09/22/2016 10:45:00 PM,DEP,10027.0,MANHATTAN,40.808013,-73.950129
971046,1,09/20/2016 03:05:03 AM,09/20/2016 07:58:48 AM,NYPD,10030.0,MANHATTAN,40.816358,-73.940220
971047,1,09/20/2016 09:19:20 AM,09/27/2016 03:20:46 PM,DOT,NaN,BROOKLYN,NaN,NaN
971048,1,09/20/2016 08:42:00 PM,01/13/2017 08:56:00 AM,DOT,10314.0,STATEN ISLAND,40.611248,-74.169591
971049,1,09/20/2016 04:42:00 PM,09/20/2016 06:40:00 PM,DOT,NaN,QUEENS,NaN,NaN
971050,1,09/20/2016 11:47:00 AM,09/16/2016 11:47:00 AM,DOT,11414.0,QUEENS,40.648070,-73.844823
971051,1,09/20/2016 06:31:14 PM,09/20/2016 08:42:14 PM,NYPD,11205.0,BROOKLYN,40.694865,-73.979214
971052,1,09/20/2016 07:35:12 PM,09/20/2016 09:39:22 PM,NYPD,11205.0,BROOKLYN,40.694865,-73.979214
971053,1,09/20/2016 08:10:00 AM,09/23/2016 11:28:00 AM,DOT,NaN,QUEENS,NaN,NaN
971054,1,09/20/2016 10:19:24 AM,09/21/2016 05:09:13 AM,DHS,10025.0,MANHATTAN,40.796495,-73.970431
971055,1,09/20/2016 05:01:30 PM,09/20/2016 09:34:44 PM,NYPD,10024.0,MANHATTAN,40.788312,-73.976502
971056,1,09/20/2016 04:11:00 AM,09/20/2016 11:30:00 AM,DEP,10014.0,MANHATTAN,40.734051,-74.004247
971057,1,09/20/2016 09:42:48 AM,09/20/2016 11:11:26 AM,DOF,10024.0,MANHATTAN,NaN,NaN
971058,1,09/20/2016 03:02:25 PM,09/24/2016 09:33:13 AM,HPD,10469.0,BRONX,40.877527,-73.847712
971059,1,09/20/2016 11:36:47 AM,10/21/2016 08:02:42 PM,HPD,10029.0,MANHATTAN,40.791709,-73.937064
971060,1,09/20/2016 04:41:40 PM,09/24/2016 09:41:28 AM,HPD,10460.0,BRONX,40.833706,-73.895943
971061,1,09/20/2016 11:36:46 AM,10/21/2016 08:02:41 PM,HPD,10029.0,MANHATTAN,40.791709,-73.937064
971062,1,09/20/2016 01:41:33 PM,10/11/2016 02:04:05 AM,HPD,11432.0,QUEENS,40.711279,-73.788951

<h4>Let's examine our data</h4>

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971063 entries, 0 to 971062
Data columns (total 8 columns):
Unique Key      971063 non-null int64
Created Date    971063 non-null object
Closed Date     882944 non-null object
Agency          971063 non-null object
Incident Zip    911140 non-null object
Borough         971063 non-null object
Latitude        887284 non-null float64
Longitude       887284 non-null float64
dtypes: float64(2), int64(1), object(5)
memory usage: 59.3+ MB

<h4>Looks like Unique Key really is a unique key and can serve as an index</h4>
Make the unique colomn into an index<br>
Pandas allows us to maintain multiple data frames and then 
use SQLite drawings to join them together.<br>
The index for a particular data frame would be useful<br>
We can think of pandas as a table<br>
So multiple tables, we can use a SQLite syntax to access data across multiple tables

In [6]:
data = pd.read_csv(datafile,index_col='Unique Key')

/Users/william/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
data.iloc[1:10]

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude
Unique Key,,,,,,,
1,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
1,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
1,10/11/2016 12:39:00 PM,10/11/2016 12:39:00 PM,DSNY,NaN,QUEENS,NaN,NaN
1,10/11/2016 12:18:00 PM,10/11/2016 12:18:00 PM,DSNY,NaN,QUEENS,NaN,NaN
1,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
1,10/11/2016 12:39:00 PM,10/11/2016 12:39:00 PM,DSNY,NaN,QUEENS,NaN,NaN
1,10/11/2016 11:44:00 AM,NaN,DSNY,NaN,QUEENS,NaN,NaN
1,10/11/2016 12:35:00 PM,10/11/2016 12:35:00 PM,DSNY,NaN,QUEENS,NaN,NaN
1,10/11/2016 11:26:00 AM,05/27/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN

<h4>Columns 4 has mixed types</h4>

<h4>Column 4 is incident zip</h4>
Let's examine it<br>
The unique() function returns unique values in a column

In [8]:
data['Incident Zip'].unique()

array([nan, '10001', '11691', '11211', '10027', '10452', '11428', '11101',
       '10075', '11215', '11210', '11231', '11217', '10457', '10033',
       '11209', '11201', '11367', '10029', '10021', '10028', '10034',
       '10032', '10039', '11414', '10461', '11229', '10462', '11223',
       '10023', '10453', '11225', '11219', '10451', '11234', '10014',
       '11354', '11361', '10468', '11233', '10466', '11204', '11413',
       '11224', '11375', '11040', '11232', '11203', '11205', '11434',
       '10011', '10003', '10025', '10013', '10036', '11237', '11355',
       '11368', '10454', '10456', '10463', '11222', '11228', '11216',
       '10128', '11435', '11419', '11358', '11421', '10019', '11238',
       '11213', '11235', '11420', '10038', '11226', '10472', '10016',
       '11221', '11236', '11436', '11214', '11377', '11385', '11365',
       '10312', '11426', '11373', '11218', '10005', '11230', '10026',
       '10473', '10280', '10301', '10309', '10310', '10009', '10002',
       '11433', '10020', '11357', '10030', '11378', '11249', '11432',
       '11212', '10024', '10035', '11429', '11206', '11372', '10471',
       '10119', '10307', '11364', '11103', '10017', '10012', '11105',
       '10458', '10018', '11374', '10459', '10314', '10037', '10302',
       '10040', '11411', '11692', '10303', '11418', '10031', '11220',
       '11427', '10465', '10306', '10010', '10460', '10305', '11207',
       '11208', '10474', '11417', '10475', '10455', '11416', '10065',
       '11363', '11693', '10308', '11356', '10469', '11369', '10470',
       '10467', '10007', '10304', '11366', '11694', '11102', '11423',
       '11422', '19044', '11412', '10022', '11379', '11251', '30374-0283',
       '11004', '11104', '10004', '11362', '11360', '11109', '07047',
       '11590', '11001', '11430', '11106', '10464', '43216', '11370',
       '10271', '11239', '11415', '10006', '10121', '10177', '11030-3409',
       '10069', '07302', '0000', '10044', '10282', '10000', '11743',
       '10178', '07114', '07410', '13851', '10169', '11697', '10168',
       '10538', '10123', '11516', '10174', '10278', '11598', '10112',
       '10605', 'UNKNOWN', '10172', '11570', '07105', '11561', '11576',
       '10162', '10281', '10151', '220194', '99999', '00083', '44087',
       '10472.0', '10039.0', '10471.0', '11372.0', '11377.0', '11354.0',
       '10453.0', '10304.0', '11235.0', '10307.0', '11361.0', '11218.0',
       '11219.0', '10302.0', '10035.0', '11233.0', '10019.0', '10037.0',
       '11385.0', '10075.0', '10040.0', '10458.0', '11223.0', '10462.0',
       '11104.0', '11420.0', '10474.0', '11229.0', '11226.0', '10456.0',
       '10468.0', '10467.0', '10002.0', '11208.0', '10460.0', '11212.0',
       '10032.0', '11204.0', '11207.0', '11214.0', '11363.0', '11422.0',
       '11434.0', '10457.0', '10028.0', '10452.0', '10009.0', '11432.0',
       '11213.0', '10465.0', '11209.0', '10033.0', '11379.0', '11216.0',
       '11249.0', '10031.0', '11418.0', '11414.0', '10034.0', '11230.0',
       '11692.0', '11210.0', '11217.0', '11201.0', '10128.0', '10010.0',
       '11215.0', '11211.0', '11375.0', '11419.0', '10469.0', '11423.0',
       '11106.0', '11220.0', '10069.0', '10306.0', '10301.0', '11369.0',
       '10027.0', '10312.0', '10309.0', '11427.0', '11691.0', '11417.0',
       '11416.0', '11234.0', '11236.0', '10455.0', '11105.0', '11228.0',
       '10029.0', '10011.0', '10007.0', '11237.0', '11231.0', '10303.0',
       '11357.0', '11415.0', '10001.0', '11203.0', '10451.0', '10314.0',
       '10021.0', '11225.0', '10463.0', '11426.0', '11206.0', '11103.0',
       '11222.0', '10461.0', '10030.0', '10470.0', '11373.0', '10466.0',
       '11412.0', '10026.0', '10308.0', '10012.0', '10025.0', '11238.0',
       '11366.0', '10459.0', '10005.0', '11364.0', '11368.0', '10473.0',
       '11232.0', '11378.0', '10305.0', '10454.0', '10282.0', '11101.0',
       '11221.0', '10014.0', '10016.0', '11356.0', '10003.0', '11429.0',
       '11413.0', '10022.0', '10013.0', '11365.0', '11367.0', '11694.0',
       '11411.0', '11433.0', '11355.0', '11421.0', '10036.0', '10065.0',
       '11224.0', '11374.0', '11358.0', '10023.0', '10475.0', '10017.0',
       '10024.0', '11370.0', '11693.0', '11362.0', '11004.0', '11205.0',
       '11102.0', '10004.0', '10038.0', '11435.0', '10006.0', '11360.0',
       '11428.0', '10018.0', '11436.0', '10464.0', '10310.0', '10044.0',
       '10280.0', '11239.0', '11001.0', '10020.0', '10112.0', '10172.0',
       '10168.0', '7114.0', '11030.0', '10278.0', '11109.0', '10000.0',
       '11697.0', '11040.0', '11725.0', '10111.0', '11005.0', '10162.0',
       '10281.0', '10169.0', '11803.0', '11430.0', '10119.0', '90274.0',
       '11520.0', '7112.0', '10041.0', '11570.0', '10167.0', '10107.0',
       '10174.0', '10120.0', '10177.0', '7073.0', '10154.0', '10165.0',
       '11550', '11701', '33134', '07628', '10532', '10703', '11371',
       '10105', '18773', '11580', '11725-9030', '10158', '07722',
       '11779.0', '10271.0', '11359.0', '10153.0', '10604.0', '10279.0',
       '29601.0', '10538.0', '30006.0', '11792.0', '11747.0', '10118.0',
       '83.0', '11566.0', '11776.0', '12344.0', '10121.0', '11550.0',
       '11576.0', '10103.0', '10801.0', '11509.0', '10701.0', '10105.0',
       '10913.0', '0.0', '11518.0', '11002.0', '10573.0', '10158.0',
       '10601.0', '11581.0', '11710.0', '42101.0', '10803.0', '10123.0',
       '11050.0', '3358.0', '8876.0', '10179.0', '12222.0', '11003',
       '10154', '10110', '10153', 'UNKOWN', '11636', '11005', '98057',
       '10801', '10550', '07310', '10115.0', '60179.0', '11003.0',
       '7093.0', '7306.0', '10170.0', '61702.0', '10804.0', '11791.0',
       '11743.0', '7013.0', '11042.0', '11371.0', '07024', '29616-0759',
       '14094', '11040-4204', '55433', '33033', '10118', '11501', '11514',
       '11021', '02241-5789', '91711', '11735', '07104', '48393-0824',
       '30353-0949', '10173', '02298', '11050', '33433', '33309',
       '10110.0', '10106.0', '10045.0', '7101.0', '07307', '10041',
       '01581', '10279', '10179', '11244', '10604', '07086', '?', '10111',
       '10165', '11530', '10573', 11433.0, 11213.0, 10037.0, 10030.0,
       10462.0, 10035.0, 10458.0, 11377.0, 11691.0, 10036.0, 10002.0,
       11355.0, 11419.0, 11209.0, 10460.0, 11226.0, 10011.0, 11233.0,
       10033.0, 10009.0, 10463.0, 10459.0, 10031.0, 10034.0, 10472.0,
       11372.0, 10025.0, 10301.0, 11357.0, 11216.0, 11230.0, 10302.0,
       10452.0, 11234.0, 10003.0, 10453.0, 10456.0, 10473.0, 11238.0,
       10027.0, 10451.0, 11218.0, 11208.0, 11220.0, 10032.0, 11366.0,
       11214.0, 11236.0, 11223.0, 10303.0, 11207.0, 11378.0, 10466.0,
       11212.0, 11219.0, 10028.0, 11201.0, 11373.0, 10023.0, 10468.0,
       11105.0, 11222.0, 10304.0, 11413.0, 10467.0, 10039.0, 11420.0,
       10457.0, 10016.0, 11414.0, 11104.0, 11221.0, 10040.0, 11435.0,
       11385.0, 10026.0, 11368.0, 11215.0, 11412.0, 11001.0, 10010.0,
       10306.0, 11101.0, 11415.0, 11375.0, 10465.0, 10024.0, 10021.0,
       11237.0, 10014.0, 11229.0, 11217.0, 10310.0, 10461.0, 10012.0,
       11356.0, 11228.0, 11205.0, 10001.0, 11210.0, 10455.0, 11411.0,
       10005.0, 11418.0, 11232.0, 10471.0, 10029.0, 10308.0, 11225.0,
       10019.0, 11422.0, 10006.0, 11224.0, 11354.0, 11249.0, 11434.0,
       10282.0, 11374.0, 10128.0, 10013.0, 11367.0, 10065.0, 11231.0,
       11211.0, 11432.0, 11692.0, 11235.0, 11204.0, 11361.0, 10017.0,
       11103.0, 10020.0, 10312.0, 11365.0, 10018.0, 11206.0, 11416.0,
       10305.0, 11370.0, 11203.0, 11379.0, 11369.0, 10469.0, 10314.0,
       10075.0, 11436.0, 11429.0, 10022.0, 11428.0, 10470.0, 10474.0,
       11358.0, 11102.0, 11427.0, 10454.0, 10309.0, 11421.0, 11423.0,
       11106.0, 11362.0, 10307.0, 10464.0, 11360.0, 10038.0, 11426.0,
       10112.0, 11239.0, 11004.0, 11417.0, 11693.0, 11364.0, 11021.0,
       7114.0, 11694.0, 10475.0, 10007.0, 10280.0, 10069.0, 8861.0,
       10279.0, 10044.0, 8817.0, 10004.0, 11363.0, 11005.0, 11697.0,
       10281.0, 10111.0, 11040.0, 11430.0, 10118.0, 10121.0, 7302.0,
       11251.0, 10803.0, 10119.0, 10580.0, 11109.0, 11749.0, 19053.0,
       10708.0, 10165.0, 10122.0, 10176.0, 10000.0, 10178.0, 11520.0,
       10583.0, 10048.0, 10168.0, 10177.0, 83.0, 8901.0, 10110.0, 10169.0,
       7310.0, 8512.0, 97062.0, 10167.0, 11743.0, 11371.0, 80014.0,
       11722.0, 10155.0, 11554.0, 10123.0, 6870.0, 10103.0, 12222.0,
       10041.0, 10106.0, 7086.0, 1749.0, 11042.0, 11719.0, 11024.0,
       11801.0, 10162.0, 7208.0, 97114.0, 11571.0, 10278.0, 19034.0,
       11695.0, 11968.0, 11010.0, 0.0, '10707.0', '10173.0', '11251.0',
       '10155.0', '10580.0', '11241.0', '11553.0', '10176.0', '11510.0',
       '11802-9060', '11779', '11757', '19040.0', '11758.0', '11746.0',
       '30346.0', '11590.0', '7410.0', '10550.0', '11695.0', '11580.0',
       '11516.0', '11575.0', '11572.0', '10178.0', '10960.0', '10710',
       '00000', '18901', '42301', '11695', '32752-9963', '10170', '10705',
       '11557.0', '3830.0', '10134.0', '11021.0', '7029.0', '10055',
       '10106', '12222', '10704', '11558', '07960', '12209', '10176',
       '07712', '10103', '11797', '11520', '10115', '10601', '14624',
       '10048', '14222', '19962', '19399', '02346', '11756-0215', '11111',
       '10155', '07608', '10530', '07103-4154', '11801', '10583', '11793',
       '10166', '10045', 'NJ 07114', '06601', '10023-6349', '10805',
       '877.0', '11701.0', '7302.0', '07660', '11563', '9153',
       '14231-9054', '11729.0', '11559.0', '11431.0', '11530.0', '07747',
       '11359', '07040', '11579', '10152', '92131', '19123', '11791',
       '90054-0807', '08876', '55486-0102', '37909.0', '11561.0',
       '10543.0', '11706.0', '7030.0', '91942', '14450', '07090', '12550',
       '12553', '10567.0', '10259.0', '11797.0', '10151.0', '11552.0',
       '92193.0', '1757.0', '10055.0', '11554.0', '10989', '11219-0283',
       '07070', '37214', '17108-0988', '43218', '02114', '10553',
       '43218-2118', '32256', '7640.0', '7087.0', 11561.0, 10154.0,
       11359.0, 11530.0, 10977.0, 10173.0, 7108.0, 10271.0, 6902.0,
       10120.0, 10153.0, 10158.0, 11590.0, 99999.0, 7030.0, 10591.0,
       8043.0, 10174.0, 105457.0, 10604.0, 7304.0, 10573.0, '10120',
       '07093', '10801-6393', '20705.0', '33128.0', '7105.0', '14228.0',
       '11582.0', '10008.0', '7310.0', '7094.0', '11577.0', '7086.0',
       '7201.0', '10122.0', '32256.0', '29615.0', '19047.0', '2062.0',
       '12205.0', '99999.0', '11704.0', '7047.0', '11242.0', '07073',
       '11797-9001', '10129', 'JFK', '01853', '7040.0', '10532.0',
       '19044.0', '10704.0', '11768.0'], dtype=object)

<h4>Some issues</h4>
<li>Sometimes zip is a float, other times it is a str
<li>Zipcodes that are represented as floats and start with 0 are missing the first digit
<li>Some zipcodes have the 4 digit extension added. Comparison becomes tough
<li>What the heck is zip 0?
<li>What about the missing (nan) values? The ? (question mark)? "UNKNOWN"?

<h2>The first step in data cleaning is to:</h2>
<h3>Decide what to do with "bad" data ("JFK", "UNKNOWN", etc.). Convert to Nan or delete the record.</h3>
<h3>Make sure all data in a column is in the correct format (convert floats to strings, get rid of the 4 digit extension)</h3>
<h3>Decide what to do with missing values (NaNs)</h3>

<h3>for "Incident Zip"</h3>
<h4>we'll drop rows with NaN or bad data</h4>
<h4>get rid of the 4 digit extension</h4>
<h4>remove zips less than 10000 and greater than 19999</h4>
<h3>Let's write a function that fixes zips</h3>

In [9]:
def fix_zip(input_zip):
    try:
        input_zip = int(float(input_zip))
    except:
        try:
            input_zip = int(input_zip.split('-')[0])
        except:
            return np.NaN
    if input_zip < 10000 or input_zip > 19999:
        return np.NaN
    return str(input_zip)

<h4>And test it</h4>

In [10]:
fix_zip('11211.00')

'11211'

<h3>Next, we'll apply this function to every element in input zip to get a revised column</h3>
<h4>The pandas function "apply" applies a function to a dataframe column
<li>fix_zip will be applied to each element of the Incident Zip column and we replace the existing column with the modified one

In [11]:
data['Incident Zip'] = data['Incident Zip'].apply(fix_zip)

In [12]:
data['Incident Zip'].unique()

array([nan, '10001', '11691', '11211', '10027', '10452', '11428', '11101',
       '10075', '11215', '11210', '11231', '11217', '10457', '10033',
       '11209', '11201', '11367', '10029', '10021', '10028', '10034',
       '10032', '10039', '11414', '10461', '11229', '10462', '11223',
       '10023', '10453', '11225', '11219', '10451', '11234', '10014',
       '11354', '11361', '10468', '11233', '10466', '11204', '11413',
       '11224', '11375', '11040', '11232', '11203', '11205', '11434',
       '10011', '10003', '10025', '10013', '10036', '11237', '11355',
       '11368', '10454', '10456', '10463', '11222', '11228', '11216',
       '10128', '11435', '11419', '11358', '11421', '10019', '11238',
       '11213', '11235', '11420', '10038', '11226', '10472', '10016',
       '11221', '11236', '11436', '11214', '11377', '11385', '11365',
       '10312', '11426', '11373', '11218', '10005', '11230', '10026',
       '10473', '10280', '10301', '10309', '10310', '10009', '10002',
       '11433', '10020', '11357', '10030', '11378', '11249', '11432',
       '11212', '10024', '10035', '11429', '11206', '11372', '10471',
       '10119', '10307', '11364', '11103', '10017', '10012', '11105',
       '10458', '10018', '11374', '10459', '10314', '10037', '10302',
       '10040', '11411', '11692', '10303', '11418', '10031', '11220',
       '11427', '10465', '10306', '10010', '10460', '10305', '11207',
       '11208', '10474', '11417', '10475', '10455', '11416', '10065',
       '11363', '11693', '10308', '11356', '10469', '11369', '10470',
       '10467', '10007', '10304', '11366', '11694', '11102', '11423',
       '11422', '19044', '11412', '10022', '11379', '11251', '11004',
       '11104', '10004', '11362', '11360', '11109', '11590', '11001',
       '11430', '11106', '10464', '11370', '10271', '11239', '11415',
       '10006', '10121', '10177', '11030', '10069', '10044', '10282',
       '10000', '11743', '10178', '13851', '10169', '11697', '10168',
       '10538', '10123', '11516', '10174', '10278', '11598', '10112',
       '10605', '10172', '11570', '11561', '11576', '10162', '10281',
       '10151', '11725', '10111', '11005', '11803', '11520', '10041',
       '10167', '10107', '10120', '10154', '10165', '11550', '11701',
       '10532', '10703', '11371', '10105', '18773', '11580', '10158',
       '11779', '11359', '10153', '10604', '10279', '11792', '11747',
       '10118', '11566', '11776', '12344', '10103', '10801', '11509',
       '10701', '10913', '11518', '11002', '10573', '10601', '11581',
       '11710', '10803', '11050', '10179', '12222', '11003', '10110',
       '11636', '10550', '10115', '10170', '10804', '11791', '11042',
       '14094', '11501', '11514', '11021', '11735', '10173', '10106',
       '10045', '11244', '11530', '10580', '11749', '19053', '10708',
       '10122', '10176', '10583', '10048', '11722', '10155', '11554',
       '11719', '11024', '11801', '11571', '19034', '11695', '11968',
       '11010', '10707', '11241', '11553', '11510', '11802', '11757',
       '19040', '11758', '11746', '11575', '11572', '10960', '10710',
       '18901', '10705', '11557', '10134', '10055', '10704', '11558',
       '12209', '11797', '14624', '14222', '19962', '19399', '11756',
       '11111', '10530', '11793', '10166', '10805', '11563', '14231',
       '11729', '11559', '11431', '11579', '10152', '19123', '10543',
       '11706', '14450', '12550', '12553', '10567', '10259', '11552',
       '10989', '17108', '10553', '10977', '10591', '14228', '11582',
       '10008', '11577', '19047', '12205', '11704', '11242', '10129',
       '11768'], dtype=object)

<h3>Finally, we'll get rid of all rows that have zip == Nan</h3>
<li>We don't have to, that's just a choice we're making</li>

In [13]:
#data['Incident Zip'].notnull()

In [14]:
data = data[data['Incident Zip'].notnull()]

In [15]:
data

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude
Unique Key,,,,,,,
1,09/01/2016 12:33:42 AM,09/16/2016 01:06:56 AM,DCA,10001,MANHATTAN,40.744790,-73.988834
1,09/01/2016 08:16:24 PM,09/10/2016 06:08:25 PM,HPD,11691,QUEENS,40.600554,-73.750704
1,09/01/2016 12:17:00 PM,09/07/2016 12:00:00 PM,DSNY,11211,BROOKLYN,40.704925,-73.962007
1,09/01/2016 12:10:22 PM,09/10/2016 02:23:44 PM,HPD,10027,MANHATTAN,40.812322,-73.955338
1,09/01/2016 12:32:32 PM,09/11/2016 02:03:37 AM,HPD,10452,BRONX,40.839529,-73.922534
1,09/01/2016 08:16:24 PM,09/10/2016 06:08:24 PM,HPD,11691,QUEENS,40.600554,-73.750704
1,09/01/2016 08:35:00 AM,09/07/2016 12:00:00 PM,DSNY,11428,QUEENS,40.721866,-73.745982
1,09/01/2016 01:19:42 PM,09/16/2016 02:32:35 PM,DOT,11101,QUEENS,40.746875,-73.952711
1,09/01/2016 11:00:00 AM,09/08/2016 12:00:00 PM,DSNY,10075,MANHATTAN,40.773336,-73.955054
1,09/01/2016 11:45:00 AM,09/03/2016 12:00:00 PM,DSNY,11215,BROOKLYN,40.662002,-73.983668
1,09/01/2016 10:11:45 AM,09/16/2016 11:11:38 AM,DOT,11101,QUEENS,40.745492,-73.953174
1,09/01/2016 08:22:53 AM,09/16/2016 07:42:02 AM,DOT,11210,BROOKLYN,40.631530,-73.954573
1,09/01/2016 05:31:04 PM,09/16/2016 10:10:02 AM,DOT,11231,BROOKLYN,40.677629,-73.998190
1,09/01/2016 08:50:41 AM,09/16/2016 11:12:47 AM,DOT,11210,BROOKLYN,40.628450,-73.947200
1,09/01/2016 02:19:21 PM,09/16/2016 02:11:08 PM,DOT,11101,QUEENS,40.745866,-73.955148
1,09/01/2016 12:46:35 PM,09/16/2016 11:53:24 AM,DOT,11217,BROOKLYN,40.687518,-73.986320
1,09/01/2016 01:33:58 PM,09/16/2016 12:55:18 PM,DOT,11231,BROOKLYN,40.683742,-73.995233
1,09/01/2016 01:51:10 PM,09/11/2016 02:05:38 AM,HPD,10457,BRONX,40.852417,-73.899753
1,09/01/2016 12:34:41 PM,09/10/2016 03:01:05 PM,HPD,10033,MANHATTAN,40.846318,-73.932740
1,09/01/2016 07:03:00 AM,09/07/2016 07:30:00 AM,DEP,11209,BROOKLYN,40.636674,-74.036517
1,09/01/2016 12:29:29 PM,09/11/2016 02:03:37 AM,HPD,10452,BRONX,40.839529,-73.922534
1,09/01/2016 05:32:16 PM,09/16/2016 07:20:23 AM,DOT,11201,BROOKLYN,40.694792,-73.994299
1,09/01/2016 08:53:22 AM,09/16/2016 09:03:59 AM,DOT,11201,BROOKLYN,40.687137,-73.990174
1,09/01/2016 05:36:25 PM,09/16/2016 09:47:33 AM,DOT,11210,BROOKLYN,40.631101,-73.952534
1,09/01/2016 05:46:07 PM,09/16/2016 09:49:54 AM,DOT,11367,QUEENS,40.729686,-73.815145
1,09/01/2016 01:12:00 PM,09/02/2016 12:00:00 PM,DSNY,10029,MANHATTAN,40.787104,-73.945002
1,09/01/2016 09:05:00 AM,09/08/2016 12:00:00 PM,DSNY,10021,MANHATTAN,40.768324,-73.955137
1,09/01/2016 12:00:31 PM,09/16/2016 11:48:36 AM,DOT,10028,MANHATTAN,40.774136,-73.951363
1,09/01/2016 12:19:34 PM,09/16/2016 07:20:17 AM,DOT,10034,MANHATTAN,40.867919,-73.920454
1,09/01/2016 09:57:16 AM,09/16/2016 09:01:46 AM,DOT,11217,BROOKLYN,40.687773,-73.987001
...,...,...,...,...,...,...,...
1,09/20/2016 10:35:45 AM,10/06/2016 11:41:19 AM,DOF,10019,MANHATTAN,NaN,NaN
1,09/20/2016 09:14:00 AM,09/20/2016 12:53:39 PM,DOF,11201,BROOKLYN,NaN,NaN
1,09/20/2016 04:27:16 PM,09/21/2016 09:38:24 AM,DOF,10466,BRONX,NaN,NaN
1,09/20/2016 04:13:04 PM,09/21/2016 11:00:00 AM,DOT,10462,BRONX,40.835874,-73.848426
1,09/20/2016 01:08:00 PM,09/28/2016 09:55:00 PM,DOT,10468,BRONX,40.863033,-73.909054
1,09/20/2016 01:36:18 PM,09/20/2016 04:14:47 PM,NYPD,11357,QUEENS,40.789638,-73.814111
1,09/20/2016 09:22:00 PM,09/21/2016 10:21:00 AM,DOT,11368,QUEENS,40.756870,-73.857055
1,09/20/2016 12:27:00 PM,09/21/2016 12:30:00 AM,DOT,10461,BRONX,40.838262,-73.836541
1,09/20/2016 01:55:00 PM,09/22/2016 08:10:00 AM,DEP,11217,BROOKLYN,40.677542,-73.979681
1,09/20/2016 01:25:44 PM,09/21/2016 10:59:52 AM,DOF,10013,MANHATTAN,NaN,NaN
1,09/20/2016 02:08:00 PM,09/21/2016 02:08:00 PM,DEP,11238,BROOKLYN,40.673232,-73.965010
1,09/20/2016 07:51:00 AM,09/21/2016 11:46:00 AM,DOT,11222,BROOKLYN,40.725309,-73.957521
1,09/20/2016 08:56:00 AM,09/20/2016 10:20:00 AM,DEP,11209,BROOKLYN,40.632837,-74.027230
1,09/20/2016 06:22:00 AM,09/23/2016 12:45:00 PM,DEP,10029,MANHATTAN,40.787172,-73.949982
1,09/20/2016 03:40:00 AM,NaN,DEP,11366,QUEENS,40.720328,-73.807761
1,09/20/2016 12:06:00 AM,09/22/2016 10:45:00 PM,DEP,10027,MANHATTAN,40.808013,-73.950129
1,09/20/2016 03:05:03 AM,09/20/2016 07:58:48 AM,NYPD,10030,MANHATTAN,40.816358,-73.940220
1,09/20/2016 08:42:00 PM,01/13/2017 08:56:00 AM,DOT,10314,STATEN ISLAND,40.611248,-74.169591
1,09/20/2016 11:47:00 AM,09/16/2016 11:47:00 AM,DOT,11414,QUEENS,40.648070,-73.844823
1,09/20/2016 06:31:14 PM,09/20/2016 08:42:14 PM,NYPD,11205,BROOKLYN,40.694865,-73.979214
1,09/20/2016 07:35:12 PM,09/20/2016 09:39:22 PM,NYPD,11205,BROOKLYN,40.694865,-73.979214
1,09/20/2016 10:19:24 AM,09/21/2016 05:09:13 AM,DHS,10025,MANHATTAN,40.796495,-73.970431
1,09/20/2016 05:01:30 PM,09/20/2016 09:34:44 PM,NYPD,10024,MANHATTAN,40.788312,-73.976502
1,09/20/2016 04:11:00 AM,09/20/2016 11:30:00 AM,DEP,10014,MANHATTAN,40.734051,-74.004247
1,09/20/2016 09:42:48 AM,09/20/2016 11:11:26 AM,DOF,10024,MANHATTAN,NaN,NaN
1,09/20/2016 03:02:25 PM,09/24/2016 09:33:13 AM,HPD,10469,BRONX,40.877527,-73.847712
1,09/20/2016 11:36:47 AM,10/21/2016 08:02:42 PM,HPD,10029,MANHATTAN,40.791709,-73.937064
1,09/20/2016 04:41:40 PM,09/24/2016 09:41:28 AM,HPD,10460,BRONX,40.833706,-73.895943
1,09/20/2016 11:36:46 AM,10/21/2016 08:02:41 PM,HPD,10029,MANHATTAN,40.791709,-73.937064
1,09/20/2016 01:41:33 PM,10/11/2016 02:04:05 AM,HPD,11432,QUEENS,40.711279,-73.788951

<h3>Let's take a look at the columns again</h3>

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 910907 entries, 1 to 1
Data columns (total 7 columns):
Created Date    910907 non-null object
Closed Date     829453 non-null object
Agency          910907 non-null object
Incident Zip    910907 non-null object
Borough         910907 non-null object
Latitude        887168 non-null float64
Longitude       887168 non-null float64
dtypes: float64(2), object(5)
memory usage: 55.6+ MB

<h3>Closed Data, Latitude and Longitude all have missing values</h3>
<h3>Let's get rid of them</h3>

In [17]:
data = data[(data['Latitude'].notnull()) & (data['Longitude'].notnull())  & (data['Closed Date'].notnull())]

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 806561 entries, 1 to 1
Data columns (total 7 columns):
Created Date    806561 non-null object
Closed Date     806561 non-null object
Agency          806561 non-null object
Incident Zip    806561 non-null object
Borough         806561 non-null object
Latitude        806561 non-null float64
Longitude       806561 non-null float64
dtypes: float64(2), object(5)
memory usage: 49.2+ MB

<h4>Let's take a look at Borough data</h4>

In [19]:
data['Borough'].unique()

array(['MANHATTAN', 'QUEENS', 'BROOKLYN', 'BRONX', 'STATEN ISLAND',
       'Unspecified'], dtype=object)

<h4>Let's look at 'Unspecified'</h4>

In [20]:
data[data['Borough']=='Unspecified'][['Agency','Incident Zip']]

           Agency Incident Zip
Unique Key
1            NYPD        10312
1            NYPD        11368
1            NYPD        11422
1            NYPD        10454
1            NYPD        11209
1            NYPD        11226
1            NYPD        11225
1            NYPD        11373
1            NYPD        10467
1             DPR        10454
1            NYPD        11204
1            NYPD        10039
1            NYPD        11369
1            NYPD        10454
1            NYPD        11217
1            NYPD        11367
1            NYPD        11217
1            NYPD        11234
1            NYPD        10452
1            NYPD        11364
1            NYPD        10014
1            NYPD        11385
1            NYPD        10453
1            NYPD        11101
1            NYPD        11203
1            NYPD        11432
1            NYPD        11234
1            NYPD        10461
1            NYPD        11210
1            NYPD        10314
...           ...          ...
1            NYPD        10028
1            NYPD        11217
1            NYPD        10040
1            NYPD        10029
1            NYPD        10014
1            NYPD        11208
1             DHS        10023
1             TLC        10023
1             DHS        10023
1             TLC        11230
1             DHS        10017
1             DHS        10024
1             DHS        10016
1            NYPD        11206
1            NYPD        11373
1            NYPD        11417
1            NYPD        11418
1            NYPD        10023
1            NYPD        10472
1            NYPD        11236
1            NYPD        11366
1            NYPD        10001
1            NYPD        11237
1            NYPD        10312
1            NYPD        11223
1            NYPD        11373
1            NYPD        10468
1            NYPD        11218
1            NYPD        11233
1            NYPD        11249

[819 rows x 2 columns]

<h4>Looks like a lot of these are NYPD related</h4>
<h4>Let's take a closer look</h4>

In [21]:
data[data['Borough']=='Unspecified'].groupby('Agency').count()

        Created Date  Closed Date  Incident Zip  Borough  Latitude  Longitude
Agency
3-1-1              1            1             1        1         1          1
DHS               67           67            67       67        67         67
DOE                1            1             1        1         1          1
DOF                3            3             3        3         3          3
DOT               13           13            13       13        13         13
DPR                2            2             2        2         2          2
FDNY               1            1             1        1         1          1
NYPD             725          725           725      725       725        725
TLC                6            6             6        6         6          6

<h4>Unspecified appears to have a systematic bias toward NYPD</h4>
<h4>Though only a small proportion of NYPD complaints (see below)</h4>
<h4>We have to decide whether to keep them or lose them!</h4>

In [22]:
nypd_complaints_total = data[data['Agency']=='NYPD']['Borough'].count()
nypd_complaints_total

274408

In [23]:
nypd_unspecified = data[(data['Borough']=='Unspecified') & (data['Agency']=="NYPD")]['Borough'].count()
nypd_unspecified

725

In [24]:
percentage = nypd_unspecified/nypd_complaints_total*100
print("%1.2f"%percentage)

0.26

<h3>For now, we'll get rid of them. Unspecified will be hard to explain!</h3>

In [25]:
data = data[data['Borough'] != 'Unspecified']

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 805742 entries, 1 to 1
Data columns (total 7 columns):
Created Date    805742 non-null object
Closed Date     805742 non-null object
Agency          805742 non-null object
Incident Zip    805742 non-null object
Borough         805742 non-null object
Latitude        805742 non-null float64
Longitude       805742 non-null float64
dtypes: float64(2), object(5)
memory usage: 49.2+ MB

<h4>Dealing with time</h4>
<li>Dates and times are best converted to datetime
<li>That way they will be useful for analysis because we can compute timedelta objects

In [27]:
data['Created Date'].head()

Unique Key
1    09/01/2016 12:33:42 AM
1    09/01/2016 08:16:24 PM
1    09/01/2016 12:17:00 PM
1    09/01/2016 12:10:22 PM
1    09/01/2016 12:32:32 PM
Name: Created Date, dtype: object

In [28]:
import datetime
data['Created Date'] = data['Created Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))

In [29]:
data['Created Date'][0:20]

Unique Key
1   2016-09-01 00:33:42
1   2016-09-01 20:16:24
1   2016-09-01 12:17:00
1   2016-09-01 12:10:22
1   2016-09-01 12:32:32
1   2016-09-01 20:16:24
1   2016-09-01 08:35:00
1   2016-09-01 13:19:42
1   2016-09-01 11:00:00
1   2016-09-01 11:45:00
1   2016-09-01 10:11:45
1   2016-09-01 08:22:53
1   2016-09-01 17:31:04
1   2016-09-01 08:50:41
1   2016-09-01 14:19:21
1   2016-09-01 12:46:35
1   2016-09-01 13:33:58
1   2016-09-01 13:51:10
1   2016-09-01 12:34:41
1   2016-09-01 07:03:00
Name: Created Date, dtype: datetime64[ns]

In [30]:
data['Closed Date'] = data['Closed Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))

# Lambda functions are also known as anonymous functions.
# They're just like functions, except that they don't have a name, 
# and they are created at the point where they are used.

# So they are not like pre-created functions,
# but they're created at the point they are used.

# So here we are saying, you can think of lambda 
# as kind of the name of the function, except that it's not really a name.
# And then you give it an argument.

In [31]:
data

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude
Unique Key,,,,,,,
1,2016-09-01 00:33:42,2016-09-16 01:06:56,DCA,10001,MANHATTAN,40.744790,-73.988834
1,2016-09-01 20:16:24,2016-09-10 18:08:25,HPD,11691,QUEENS,40.600554,-73.750704
1,2016-09-01 12:17:00,2016-09-07 12:00:00,DSNY,11211,BROOKLYN,40.704925,-73.962007
1,2016-09-01 12:10:22,2016-09-10 14:23:44,HPD,10027,MANHATTAN,40.812322,-73.955338
1,2016-09-01 12:32:32,2016-09-11 02:03:37,HPD,10452,BRONX,40.839529,-73.922534
1,2016-09-01 20:16:24,2016-09-10 18:08:24,HPD,11691,QUEENS,40.600554,-73.750704
1,2016-09-01 08:35:00,2016-09-07 12:00:00,DSNY,11428,QUEENS,40.721866,-73.745982
1,2016-09-01 13:19:42,2016-09-16 14:32:35,DOT,11101,QUEENS,40.746875,-73.952711
1,2016-09-01 11:00:00,2016-09-08 12:00:00,DSNY,10075,MANHATTAN,40.773336,-73.955054
1,2016-09-01 11:45:00,2016-09-03 12:00:00,DSNY,11215,BROOKLYN,40.662002,-73.983668
1,2016-09-01 10:11:45,2016-09-16 11:11:38,DOT,11101,QUEENS,40.745492,-73.953174
1,2016-09-01 08:22:53,2016-09-16 07:42:02,DOT,11210,BROOKLYN,40.631530,-73.954573
1,2016-09-01 17:31:04,2016-09-16 10:10:02,DOT,11231,BROOKLYN,40.677629,-73.998190
1,2016-09-01 08:50:41,2016-09-16 11:12:47,DOT,11210,BROOKLYN,40.628450,-73.947200
1,2016-09-01 14:19:21,2016-09-16 14:11:08,DOT,11101,QUEENS,40.745866,-73.955148
1,2016-09-01 12:46:35,2016-09-16 11:53:24,DOT,11217,BROOKLYN,40.687518,-73.986320
1,2016-09-01 13:33:58,2016-09-16 12:55:18,DOT,11231,BROOKLYN,40.683742,-73.995233
1,2016-09-01 13:51:10,2016-09-11 02:05:38,HPD,10457,BRONX,40.852417,-73.899753
1,2016-09-01 12:34:41,2016-09-10 15:01:05,HPD,10033,MANHATTAN,40.846318,-73.932740
1,2016-09-01 07:03:00,2016-09-07 07:30:00,DEP,11209,BROOKLYN,40.636674,-74.036517
1,2016-09-01 12:29:29,2016-09-11 02:03:37,HPD,10452,BRONX,40.839529,-73.922534
1,2016-09-01 17:32:16,2016-09-16 07:20:23,DOT,11201,BROOKLYN,40.694792,-73.994299
1,2016-09-01 08:53:22,2016-09-16 09:03:59,DOT,11201,BROOKLYN,40.687137,-73.990174
1,2016-09-01 17:36:25,2016-09-16 09:47:33,DOT,11210,BROOKLYN,40.631101,-73.952534
1,2016-09-01 17:46:07,2016-09-16 09:49:54,DOT,11367,QUEENS,40.729686,-73.815145
1,2016-09-01 13:12:00,2016-09-02 12:00:00,DSNY,10029,MANHATTAN,40.787104,-73.945002
1,2016-09-01 09:05:00,2016-09-08 12:00:00,DSNY,10021,MANHATTAN,40.768324,-73.955137
1,2016-09-01 12:00:31,2016-09-16 11:48:36,DOT,10028,MANHATTAN,40.774136,-73.951363
1,2016-09-01 12:19:34,2016-09-16 07:20:17,DOT,10034,MANHATTAN,40.867919,-73.920454
1,2016-09-01 09:57:16,2016-09-16 09:01:46,DOT,11217,BROOKLYN,40.687773,-73.987001
...,...,...,...,...,...,...,...
1,2016-09-20 20:01:00,2016-09-22 23:30:00,DEP,11694,QUEENS,40.578039,-73.855113
1,2016-09-20 22:14:00,2016-09-21 11:49:00,DOT,11217,BROOKLYN,40.682149,-73.982856
1,2016-09-18 11:07:47,2016-09-19 13:40:00,DOT,10462,BRONX,40.838781,-73.852665
1,2016-09-20 11:02:09,2017-01-26 00:00:00,DOB,11216,BROOKLYN,40.690931,-73.945431
1,2016-09-19 16:31:00,2016-09-19 16:31:00,DSNY,11236,BROOKLYN,40.649318,-73.904170
1,2016-09-20 19:09:42,2016-09-20 21:29:00,NYPD,11205,BROOKLYN,40.694865,-73.979214
1,2016-09-20 16:13:04,2016-09-21 11:00:00,DOT,10462,BRONX,40.835874,-73.848426
1,2016-09-20 13:08:00,2016-09-28 21:55:00,DOT,10468,BRONX,40.863033,-73.909054
1,2016-09-20 13:36:18,2016-09-20 16:14:47,NYPD,11357,QUEENS,40.789638,-73.814111
1,2016-09-20 21:22:00,2016-09-21 10:21:00,DOT,11368,QUEENS,40.756870,-73.857055
1,2016-09-20 12:27:00,2016-09-21 00:30:00,DOT,10461,BRONX,40.838262,-73.836541
1,2016-09-20 13:55:00,2016-09-22 08:10:00,DEP,11217,BROOKLYN,40.677542,-73.979681
1,2016-09-20 14:08:00,2016-09-21 14:08:00,DEP,11238,BROOKLYN,40.673232,-73.965010
1,2016-09-20 07:51:00,2016-09-21 11:46:00,DOT,11222,BROOKLYN,40.725309,-73.957521
1,2016-09-20 08:56:00,2016-09-20 10:20:00,DEP,11209,BROOKLYN,40.632837,-74.027230
1,2016-09-20 06:22:00,2016-09-23 12:45:00,DEP,10029,MANHATTAN,40.787172,-73.949982
1,2016-09-20 00:06:00,2016-09-22 22:45:00,DEP,10027,MANHATTAN,40.808013,-73.950129
1,2016-09-20 03:05:03,2016-09-20 07:58:48,NYPD,10030,MANHATTAN,40.816358,-73.940220
1,2016-09-20 20:42:00,2017-01-13 08:56:00,DOT,10314,STATEN ISLAND,40.611248,-74.169591
1,2016-09-20 11:47:00,2016-09-16 11:47:00,DOT,11414,QUEENS,40.648070,-73.844823
1,2016-09-20 18:31:14,2016-09-20 20:42:14,NYPD,11205,BROOKLYN,40.694865,-73.979214
1,2016-09-20 19:35:12,2016-09-20 21:39:22,NYPD,11205,BROOKLYN,40.694865,-73.979214
1,2016-09-20 10:19:24,2016-09-21 05:09:13,DHS,10025,MANHATTAN,40.796495,-73.970431
1,2016-09-20 17:01:30,2016-09-20 21:34:44,NYPD,10024,MANHATTAN,40.788312,-73.976502
1,2016-09-20 04:11:00,2016-09-20 11:30:00,DEP,10014,MANHATTAN,40.734051,-74.004247
1,2016-09-20 15:02:25,2016-09-24 09:33:13,HPD,10469,BRONX,40.877527,-73.847712
1,2016-09-20 11:36:47,2016-10-21 20:02:42,HPD,10029,MANHATTAN,40.791709,-73.937064
1,2016-09-20 16:41:40,2016-09-24 09:41:28,HPD,10460,BRONX,40.833706,-73.895943
1,2016-09-20 11:36:46,2016-10-21 20:02:41,HPD,10029,MANHATTAN,40.791709,-73.937064
1,2016-09-20 13:41:33,2016-10-11 02:04:05,HPD,11432,QUEENS,40.711279,-73.788951

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 805742 entries, 1 to 1
Data columns (total 8 columns):
Created Date       805742 non-null datetime64[ns]
Closed Date        805742 non-null datetime64[ns]
Agency             805742 non-null object
Incident Zip       805742 non-null object
Borough            805742 non-null object
Latitude           805742 non-null float64
Longitude          805742 non-null float64
processing_time    805742 non-null timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), object(3), timedelta64[ns](1)
memory usage: 55.3+ MB

<h3>We can create a new column that tracks the time it takes to close a complaint</h3>

In [45]:
data['processing_time'] =  data['Closed Date'] - data['Created Date']

In [46]:
#And look at summary statistics
data['processing_time'].describe()

count                     805742
mean      5 days 00:05:11.538976
std      12 days 06:08:17.201098
min          -134 days +00:00:00
25%              0 days 02:34:46
50%       0 days 21:10:44.500000
75%       4 days 14:29:59.750000
max            148 days 13:10:54
Name: processing_time, dtype: object

<h4>There is some odd stuff here</h4>
<li>Negative processing time?
<li>Since our data is for two months, a max of 148 days worth checking out

<h3>Let's examine the negative processing time data</h3>

In [47]:
# extracting the rows that have a timedelta less than zero.
data[data['processing_time']<datetime.timedelta(0,0,0)]

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude,processing_time
Unique Key,,,,,,,,
1,2016-09-16 14:24:00,2016-09-15 14:23:00,DOT,10314,STATEN ISLAND,40.597868,-74.140537,-2 days +23:59:00
1,2016-09-20 14:03:00,2016-09-16 14:03:00,DOT,11220,BROOKLYN,40.630682,-74.010970,-4 days +00:00:00
1,2016-10-20 11:24:00,2016-10-19 01:24:00,DOT,11412,QUEENS,40.696186,-73.751966,-2 days +14:00:00
1,2016-10-20 16:40:00,2016-10-19 16:39:00,DOT,10306,STATEN ISLAND,40.580343,-74.103262,-2 days +23:59:00
1,2016-10-20 12:19:00,2016-10-19 12:18:00,DOT,11209,BROOKLYN,40.634865,-74.026381,-2 days +23:59:00
1,2016-10-20 12:05:00,2016-10-19 02:05:00,DOT,11208,BROOKLYN,40.681095,-73.873586,-2 days +14:00:00
1,2016-10-24 10:37:00,2016-10-21 10:37:00,DOT,11691,QUEENS,40.608713,-73.747670,-3 days +00:00:00
1,2016-10-31 10:26:00,2016-10-28 10:26:00,DOT,11417,QUEENS,40.676871,-73.840344,-3 days +00:00:00
1,2016-10-31 10:46:00,2016-10-27 10:46:00,DOT,11362,QUEENS,40.765202,-73.738088,-4 days +00:00:00
1,2016-09-20 11:49:00,2016-09-16 11:49:00,DOT,11432,QUEENS,40.703220,-73.802559,-4 days +00:00:00
1,2016-09-20 14:16:00,2016-09-16 14:16:00,DOT,11238,BROOKLYN,40.680797,-73.958397,-4 days +00:00:00
1,2016-09-20 14:34:00,2016-09-16 14:34:00,DOT,11201,BROOKLYN,40.692277,-73.988187,-4 days +00:00:00
1,2016-09-20 14:04:00,2016-09-16 14:00:00,DOT,11220,BROOKLYN,40.649360,-74.012833,-5 days +23:56:00
1,2016-09-20 12:00:00,2016-09-16 12:00:00,DOT,11434,QUEENS,40.660911,-73.769906,-4 days +00:00:00
1,2016-09-20 11:48:00,2016-09-16 11:48:00,DOT,11432,QUEENS,40.703220,-73.802559,-4 days +00:00:00
1,2016-09-20 11:43:00,2016-09-16 11:43:00,DOT,11416,QUEENS,40.685665,-73.852531,-4 days +00:00:00
1,2016-09-20 14:23:00,2016-09-16 14:23:00,DOT,11221,BROOKLYN,40.695352,-73.916314,-4 days +00:00:00
1,2016-09-20 11:48:00,2016-09-16 11:48:00,DOT,11432,QUEENS,40.704671,-73.805649,-4 days +00:00:00
1,2016-09-20 14:03:00,2016-09-16 14:03:00,DOT,11219,BROOKLYN,40.635497,-74.001956,-4 days +00:00:00
1,2016-09-20 11:59:00,2016-09-16 11:59:00,DOT,11433,QUEENS,40.696159,-73.786607,-4 days +00:00:00
1,2016-09-20 11:54:00,2016-09-16 11:54:00,DOT,11374,QUEENS,40.728658,-73.863260,-4 days +00:00:00
1,2016-09-20 12:53:00,2016-09-16 12:53:00,DOT,11224,BROOKLYN,40.576982,-73.981565,-4 days +00:00:00
1,2016-09-20 14:51:00,2016-09-19 14:50:00,DOT,11225,BROOKLYN,40.663183,-73.962449,-2 days +23:59:00
1,2016-09-20 12:00:00,2016-09-16 12:00:00,DOT,11412,QUEENS,40.707737,-73.763191,-4 days +00:00:00
1,2016-09-20 11:49:00,2016-09-16 11:49:00,DOT,11432,QUEENS,40.705233,-73.803573,-4 days +00:00:00
1,2016-09-20 11:41:00,2016-09-16 11:41:00,DOT,11105,QUEENS,40.773510,-73.899912,-4 days +00:00:00
1,2016-09-20 12:50:00,2016-09-16 12:50:00,DOT,11212,BROOKLYN,40.668709,-73.917307,-4 days +00:00:00
1,2016-09-20 14:32:00,2016-09-16 14:32:00,DOT,11217,BROOKLYN,40.681505,-73.974228,-4 days +00:00:00
1,2016-09-20 12:54:00,2016-09-16 12:54:00,DOT,11214,BROOKLYN,40.588321,-73.985220,-4 days +00:00:00
1,2016-09-20 12:31:00,2016-09-17 22:40:00,DOT,10469,BRONX,40.858725,-73.833436,-3 days +10:09:00
...,...,...,...,...,...,...,...,...
1,2016-10-17 00:00:00,2016-09-12 00:00:00,DOHMH,10025,MANHATTAN,40.798563,-73.963405,-35 days +00:00:00
1,2016-10-17 00:00:00,2016-09-13 00:00:00,DOHMH,10037,MANHATTAN,40.808726,-73.937893,-34 days +00:00:00
1,2016-10-17 00:00:00,2016-10-11 00:00:00,DOHMH,10461,BRONX,40.847411,-73.849288,-6 days +00:00:00
1,2016-10-17 00:00:00,2016-10-03 00:00:00,DOHMH,10026,MANHATTAN,40.804663,-73.951919,-14 days +00:00:00
1,2016-10-17 00:00:00,2016-10-03 00:00:00,DOHMH,11385,QUEENS,40.706613,-73.868167,-14 days +00:00:00
1,2016-10-17 00:00:00,2016-10-05 00:00:00,DOHMH,10027,MANHATTAN,40.808263,-73.956266,-12 days +00:00:00
1,2016-09-19 16:54:00,2016-09-17 00:26:00,DOT,10303,STATEN ISLAND,40.631594,-74.160388,-3 days +07:32:00
1,2016-09-19 12:18:00,2016-09-17 00:15:00,DOT,10465,BRONX,40.814894,-73.803528,-3 days +11:57:00
1,2016-09-19 12:05:00,2016-09-16 22:52:00,DOT,10460,BRONX,40.834040,-73.895271,-3 days +10:47:00
1,2016-09-19 16:53:00,2016-09-16 22:57:00,DOT,10306,STATEN ISLAND,40.583297,-74.099911,-3 days +06:04:00
1,2016-09-19 11:52:00,2016-09-16 11:52:00,DOT,10474,BRONX,40.810851,-73.881858,-3 days +00:00:00
1,2016-09-20 12:01:00,2016-09-16 12:01:00,DOT,11434,QUEENS,40.679960,-73.782481,-4 days +00:00:00
1,2016-09-20 14:12:00,2016-09-16 14:12:00,DOT,11226,BROOKLYN,40.650388,-73.958708,-4 days +00:00:00
1,2016-09-20 11:53:00,2016-09-16 11:53:00,DOT,11694,QUEENS,40.572042,-73.857548,-4 days +00:00:00
1,2016-09-20 14:33:00,2016-09-16 14:33:00,DOT,11201,BROOKLYN,40.691194,-73.997768,-4 days +00:00:00
1,2016-09-20 14:31:00,2016-09-16 14:31:00,DOT,11215,BROOKLYN,40.666159,-73.995307,-4 days +00:00:00
1,2016-09-22 12:15:00,2016-09-21 12:14:00,DOT,11233,BROOKLYN,40.682427,-73.937931,-2 days +23:59:00
1,2016-09-26 16:23:00,2016-09-23 23:00:00,DOT,10308,STATEN ISLAND,40.545127,-74.139858,-3 days +06:37:00
1,2016-09-26 13:31:00,2016-09-23 21:20:00,DOT,10474,BRONX,40.809629,-73.890035,-3 days +07:49:00
1,2016-09-26 12:39:00,2016-09-23 12:39:00,DOT,11232,BROOKLYN,40.653856,-74.008167,-3 days +00:00:00
1,2016-09-26 12:28:00,2016-09-23 12:28:00,DOT,11211,BROOKLYN,40.705900,-73.963099,-3 days +00:00:00
1,2016-09-13 12:32:00,2016-09-09 12:32:00,DOT,11691,QUEENS,40.600204,-73.745044,-4 days +00:00:00
1,2016-09-13 11:51:00,2016-09-08 11:51:00,DOT,11416,QUEENS,40.689714,-73.840767,-5 days +00:00:00
1,2016-09-13 12:03:00,2016-09-08 12:03:00,DOT,11691,QUEENS,40.595140,-73.753987,-5 days +00:00:00
1,2016-09-15 16:52:00,2016-09-14 01:20:00,DOT,10309,STATEN ISLAND,40.521280,-74.239458,-2 days +08:28:00
1,2016-09-15 13:59:00,2016-09-14 13:58:00,DOT,10473,BRONX,40.819163,-73.879813,-2 days +23:59:00
1,2016-09-08 12:33:00,2016-09-06 12:33:00,DOT,11219,BROOKLYN,40.641815,-73.995813,-2 days +00:00:00
1,2016-09-12 12:24:00,2016-09-09 22:28:00,DOT,10314,STATEN ISLAND,40.598331,-74.127146,-3 days +10:04:00
1,2016-09-20 14:19:00,2016-09-16 14:19:00,DOT,11207,BROOKLYN,40.690455,-73.911748,-4 days +00:00:00
1,2016-09-20 11:47:00,2016-09-16 11:47:00,DOT,11414,QUEENS,40.648070,-73.844823,-4 days +00:00:00

In [ ]:
# most likely what happened is that the closing date and opening date
# got creation date and closing date were interchanged.
# That would be my guess.

<h3>And the large processing times as well</h3>

In [48]:
data[data['processing_time']>datetime.timedelta(148,0,0)]

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude,processing_time
Unique Key,,,,,,,,
1,2016-09-01 10:49:06,2017-01-28 00:00:00,DOB,11691,QUEENS,40.597741,-73.775975,148 days 13:10:54
1,2016-09-01 09:04:14,2017-01-27 14:12:22,DOT,11357,QUEENS,40.791344,-73.827361,148 days 05:08:08

In [49]:
# We need to understand the data better and go back to the person 
# who gave us the data or the organization that gave the data and 
# understand why there is something inside it.
# Because we never want to remove data that would be useful in our analysis.

# It's better to have no analysis than to have biased results.
# That's the bottom line.

<h3>Looks like the upper end makes sense but the negative times don't</h3>
<h3>Though we need to explore this more, we'll get rid of negative times for now</h3>

In [50]:
data = data[data['processing_time']>=datetime.timedelta(0,0,0)]

<h2>Finally, let's write a function that incorporates all our changes</h2>

In [51]:
def read_311_data(datafile):
    import pandas as pd
    import numpy as np
    #Add the fix_zip function
    def fix_zip(input_zip):
        try:
            input_zip = int(float(input_zip))
        except:
            try:
                input_zip = int(input_zip.split('-')[0])
            except:
                return np.NaN
        if input_zip < 10000 or input_zip > 19999:
            return np.NaN
        return str(input_zip)
    
    #Read the file
    df = pd.read_csv(datafile,index_col='Unique Key')
    
    #fix the zip
    df['Incident Zip'] = df['Incident Zip'].apply(fix_zip)
    
    #drop all rows that have any nans in them (note the easier syntax!)
    
    df = df.dropna(how='any')
    
    #get rid of unspecified boroughs
    df = df[df['Borough'] != 'Unspecified']
    
    #Convert times to datetime and create a processing time column
    
    import datetime
    df['Created Date'] = df['Created Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))
    df['Closed Date'] = df['Closed Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))
    df['processing_time'] =  df['Closed Date'] - df['Created Date']
    
    #Finally, get rid of negative processing times and return the final data frame
    
    df = df[df['processing_time']>=datetime.timedelta(0,0,0)]
    
    return df

In [53]:
df = read_311_data('nyc_311_data_subset-2.csv')
df.info()

/Users/william/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2802: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

<class 'pandas.core.frame.DataFrame'>
Int64Index: 799323 entries, 1 to 1
Data columns (total 8 columns):
Created Date       799323 non-null datetime64[ns]
Closed Date        799323 non-null datetime64[ns]
Agency             799323 non-null object
Incident Zip       799323 non-null object
Borough            799323 non-null object
Latitude           799323 non-null float64
Longitude          799323 non-null float64
processing_time    799323 non-null timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), object(3), timedelta64[ns](1)
memory usage: 54.9+ MB

In [54]:
df.head()

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude,processing_time
Unique Key,,,,,,,,
1,2016-09-01 00:33:42,2016-09-16 01:06:56,DCA,10001,MANHATTAN,40.744790,-73.988834,15 days 00:33:14
1,2016-09-01 20:16:24,2016-09-10 18:08:25,HPD,11691,QUEENS,40.600554,-73.750704,8 days 21:52:01
1,2016-09-01 12:17:00,2016-09-07 12:00:00,DSNY,11211,BROOKLYN,40.704925,-73.962007,5 days 23:43:00
1,2016-09-01 12:10:22,2016-09-10 14:23:44,HPD,10027,MANHATTAN,40.812322,-73.955338,9 days 02:13:22
1,2016-09-01 12:32:32,2016-09-11 02:03:37,HPD,10452,BRONX,40.839529,-73.922534,9 days 13:31:05

In [55]:
df['processing_time'].describe()

count                     799323
mean      5 days 04:01:06.007955
std      12 days 00:07:14.405456
min              0 days 00:00:00
25%              0 days 02:41:02
50%              0 days 21:49:51
75%              4 days 15:47:12
max            148 days 13:10:54
Name: processing_time, dtype: object